
.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  color: rgba(0, 0, 0, 0.87);
}

.Track .tmb {
  width: 50px;
}

.Track img {
  width: 100%;
  display: block;
}

.Track .desc {
  display: flex;
  padding: 0 10px;
  flex: 1;
  position: relative;
  .lgt {
    margin-left: auto;
  }
  @media (max-width: 576px) {
    .trackSongTitle {
      max-width: 50%;
    }
  }
}

.popularity {
  height: 12px;
  margin-left: auto;
  text-align: right;
  width: 100%!important;
  position: absolute;
  right: 45px;

  .bar {
    background: #ef9a9a;
    height: 100%;
    display: inline-block;
  }
  @media (min-width: 920px) {
    width: 25%!important;
  }
}