.top-tracks-list {
  box-shadow: 0 0 11px #00000040;
}

.top-tracks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
