nav {
  width: 100%;
  min-height: 65px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  .sidenav-trigger {
    background: none;
    border: 0;
    color: #fff;
    &:focus {
      background: none;
    }
  }
}